<!DOCTYPe HTML>
<html>
<head>
    <title>Game to Play</title>
</head>
<body>
    <form action="/madlib">
        Name: 
        <input type="text" name="name">
        <br>
        Color:
        <select name="color">
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="black">Black</option>
        </select>
        <br>
        Noun:
        <input type="radio" name="noun" value="coffee">coffee
        <input type="radio" name="noun" value="chocolate">chocolate
        <input type="radio" name="noun" value="hot-chocolate">hot chocolate
        <input type="radio" name="noun" value="donut">donut
        <br>
        Adjective:
        <input type="text" name="adjective">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>