<!Doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally

        {% for word in adjective %}
            {% if word == adjective[-2]: %}
                {{ word }} and
            {% elif word == adjective[-1]: %}
                {{ word }}
            {% else: %}
                {{ word }},
            {% endif %}

            {% endfor %}

        way.
    </body>
</html>